
body{
	margin:0;
	padding:0;
	font-size:13px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#979797;
	background-color:#06213F;
	}

.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart{list-style-type:none; margin:0; padding:0;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:inline-block;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

.fl_left{float:left;}
.fl_right{float:right;}

.imgholder, .imgl, .imgr{padding:4px; border:1px solid #DEDACB; text-align:center;}
.imgl{float:left; margin:0 15px 15px 0; clear:left;}
.imgr{float:right; margin:0 0 15px 15px; clear:right;}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{
	position:relative;
	margin:0 auto 20px;
	width:960px;
	text-align:left;
	}

.row1{color:#999999; background-color:#06213F;}
.row1 a{color:#FCFCFC; background-color:#06213F;}
.row2, .row3, .row4{color:#979797; background-color:#F9F9F9;}

/* ----------------------------------------------Generalise-------------------------------------*/

#header, #container, #footer{
	display:block;
	width:960px;
	}

.rnd{
	display:block;
	width:960px;
	padding:12px 0 0 0;
	background:url("++theme++myportal.skin/images/round_top.gif") top left no-repeat;
	}

/* ----------------------------------------------Header-------------------------------------*/

#header{padding:10px 0 0 0;}

#header h1, #header p, #header ul{
	margin:0;
	padding:0;
	list-style:none;
	line-height:normal;
	}

#header h1{font-size:36px; font-variant:small-caps; font-style:normal;}

#header .fl_right{
	display:block;
	width:360px;
	}
#portal-logo {
    margin:5px 0 0 0 ;
}
	

#portal-personaltools-wrapper{
	float:right;
	margin-top:-7px;
	margin-bottom:15px;
}	
	
#portal-personaltools-wrapper ul {
	padding:3px;
}

#portal-personaltools #anon-personalbar {
	border-right:none;
}

#portal-personaltools-wrapper a{
	background:none;
	color:#000;
}
/* ----------------------------------------------Content-------------------------------------*/

#container{
	line-height:1.6em;
	background:url("../images/round_bot.gif") bottom left no-repeat;
	}

#content .documentDescription{
	margin:10px;
}

/* ----------------------------------------------Footer-------------------------------------*/

#footer{
	width:920px;
	padding:5px 20px 15px 20px;
	background:url("++theme++myportal.skin/images/round_bot.gif") bottom left no-repeat;
	}

#footer .fl_left img{margin-bottom:30px;}

#footer address{
	display:inline;
	float:left;
	margin-left:40px;
	text-transform:none;
	font-style:normal;
	line-height:1.8em;
	}

#footer .fl_right{
	display:block;
	width:400px;
	}

#footer .fl_right p{margin:0 0 15px 0; padding:0; line-height:normal;}

#footer .fl_right #social{display:block; width:100%; margin:0 0 15px 0; padding:0; line-height:normal;}
#footer .fl_right #social ul{margin:0; padding:0; list-style:none;}
#footer .fl_right #social li{float:left; /* Only For IE */}
#footer .fl_right #social a{display:block; float:left; width:49px; height:49px; margin-right:20px; overflow:hidden; text-indent:-4000em; background:url("++theme++myportal.skin/images/social-sprite-alt.png") no-repeat;}
#footer .fl_right #social li.last a{margin-right:0;}

#footer .last{margin:0;}

/* ----------------------------------------------Copyright-------------------------------------*/

#copyright{
	padding:0 12px;
	}

#copyright p{
	margin:0;
	padding:0;
	}

#copyright, #copyright a{
	color:#55ABDA;
	background-color:#06213F;
	}

#sobre {
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}	