
#topnav{
	display:block;
	width:948px;
	margin:0 10px 0 0px;
	padding:0 0 12px 12px;
	background:url("++theme++myportal.skin/images/round_bot.gif") bottom left no-repeat;
	}

#topnav, #topnav a{
	text-transform:uppercase;
	color:#06213F;
	background-color:#F9F9F9;
	}

#topnav a:hover, #topnav li.selected a{
	color:#55ABDA;
	background-color:#F9F9F9;
	}

#topnav ul, #topnav li{
	margin:0;
	padding:0;
	list-style:none;
	}

#topnav li{
	display:inline;
	margin-right:20px;
	}

#topnav li.last{
	margin:0;
	}

